@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Oswald:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #b08d57;
  --color-brand-muted: #837366;
  --color-dark: #050505;
  --color-surface: #111111;
  --color-border: #282523;
  --color-text: #f5f5f5;
  --color-text-muted: #c5c5c5;
}

/*Light theme*/
/* .light {
  --color-text: #000000;
  --color-surface: #ffffff;
} */
@layer base {
  html {
    scroll-behavior: smooth !important;
  }
  body {
    background-color: var(--color-surface);
    font-size: 1rem;
    color: var(--color-text);
    font-family: Inter;
  }
  h1 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 0.05em;
  }
  button {
    cursor: pointer;
  }
}

@layer components {
  .about-skills {
    @apply flex flex-col gap-2 items-center;
  }
  .about-skills__icons {
    @apply text-brand w-10 h-10 stroke-1;
  }
}
